html,

body {
    height: 100%;
    background-image: url('texas.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    min-height: 100% !important;
    min-width: 100% !important;
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* .emailerror {
    visibility: hidden;
}

[aria-invalid="true"]~.emailerror {
    visibility: visible;
} */

.feedbackcard {
    width: 90% !important;
}

.card-title {
    display: flex;
    justify-content: center;
}